body{
    background-image: repeating-linear-gradient(120deg,rgb(10, 216, 120),rgb(190, 7, 166));
}
.form-group{
    background-color: white;
    border: 2px solid pink;
    border-radius: 15px;
    padding: 5% 5% 5% 5%;
    box-shadow: 15px 15px;
    margin-top: 5%;
    margin-bottom: 8%;
}
.form-group h3{
    text-align: center;
}
